<div class="row mx-0 justify-content-center align-items-center pt-5">
    <div class="col-6">
        <h4 class="text-primary py-2 text-center">Add new product</h4>
        <form class="border border-primary p-5 rounded-5" id="add-product-form" action="/api/v1/products/create/" method="post">
            <!-- Name input -->
            <div data-mdb-input-init class="mb-4">
                <label class="form-label" for="form4Example1">Name</label>
              <input type="text" id="form4Example1" class="form-control" name="name" />
            </div>
          
            <!-- Email input -->
            <div data-mdb-input-init class=" mb-4">
                <label class="form-label" for="form4Example2">Quantity</label>
              <input type="text" id="form4Example2" class="form-control" name="quantity" />
            </div>          
            <!-- Submit button -->
            <div class="text-center">
                <input data-mdb-ripple-init type="submit" class="btn btn-primary" value="Add Product">
            </div>
          </form>
    </div>
</div>
<script src="/js/add_products.js"></script>