<div class="row mx-0 justify-content-center mt-5">
    <div class="col-10 border rounded-5 p-2 bg-light">
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="py-2 text-primary">All Products</h4>
            <a href="/products/add-product" class="py-2 btn btn-primary">+ Add Product</a>
        </div>
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th>Sr.No.</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="all-product-list">
                
            </tbody>
        </table>
    </div>
</div>
<script src="/js/all_products.js"></script>